.top-footer {
  background-color: #0e1015;
  padding-top: 95px;
  padding-bottom: 50px;
  position: relative;
}

.footer .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 50px;
  color: #fff;
}

.logo {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.social-media {
  margin-top: 20px;
}

.social-media-list {
  display: flex;
}

.social-media-item {
  margin: 0 20px;
}

.social-media-icon {
  margin-top: 5px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.fas {
  margin-top: 5px;
}

.contact-item {
  display: flex;
}

.contact-text {
  margin-left: 10px;
}

.social-media-link {
  color: #fff;
}

.bottom-footer {
  padding-bottom: 15px;
  padding-top: 23px;
  background-color: #000;
}

.bottom-footer .containter {
    width: 1200px;
    color: #fff;
    margin: 0 auto;
}
