
.navbar-header {
  padding: 0 !important;
  /* position: fixed; */
  background-color: black;
  /* top: 0;
  display: flex !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 10;  */
}

.wrapper-shadow {
  z-index: 4;
  background-image: linear-gradient(to bottom, #00000024, transparent);
}

.navbar-header-ul {
  margin: 0 auto;
}

.navLink {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  height: 100%;
}

.navbar-header a {
  text-decoration: none;
  color: #fff !important;
  margin: 0 40px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

#logo {
  width: 80px;
  height: 80px;
}
