html, body{
    height: 100%;
  }
  
  body{
    margin: 0;
  }
  
  nav{
    display: flex;
    width: 100%;
    height: 20%;
    background: rgb(0, 0, 0);
    color: #fff;
    align-items: center;
    justify-content: center;
    
  }
  
  a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 40px;
  }
  
  #logo{
    width: 100px;
    height: 100px;
    
  }

  