.recruitment {
  background-color: #04090c;
  color: #fff;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  word-wrap: break-word;
}

.heading {
  font-size: 3rem;
}

.recruitment-concept {
  padding: 60px 0;
}

.recruitment-content,
.biggame-content,
.interview-content {
  margin: 0 auto !important;
}

.ttv-ava {
  width: 100%;
}

.interview-ava {
  width: 100%;
}

.number-count-up {
  font-size: 5rem;
  display: block;
  color: black;
  width: 100%;
  font-weight: 400;
  margin-bottom: 0.3em;
}

.counter-tag {
  font-size: 1.2rem;
  margin-bottom: 2em;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: inherit;
}

.counter-item {
  padding: 0 30px;
}

.about-info {
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .about-info {
    margin-top: 3rem;
  }
  .recruitment-content {
    flex-direction: column-reverse;
  }
}
