@font-face {
  font-family: "Utm Aptima";
  src: url("E:/coding/s4c/recruitment-promotion-site/src/assests/fonts/utm-aptima.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Utm Aptima", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


p {
  margin: 0;
  padding: 0;
}