@font-face {
  font-family: "Utm Aptima";
<<<<<<< HEAD
  src: url("./assests/fonts/utm-aptima.ttf");
=======
  src: url("/assests/fonts/utm-aptima.ttf");
>>>>>>> origin/feature-aboutus
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Utm Aptima", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

<<<<<<< HEAD

p {
  margin: 0;
  padding: 0;
}
=======
  
>>>>>>> origin/feature-aboutus
