@font-face {
  font-family: "Utm Aptima";
  src: url("./assests/fonts/utm-aptima.ttf");
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Utm Aptima", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
}

.navLink:hover {
  text-decoration: none !important;
  color: #fff;
  border-bottom: 2px solid #fff;
}

p {
  margin: 0;
  padding: 0;
}
